/* 
   Add {{ 'mobile.css' | asset_url | stylesheet_tag }} to theme.liquid for this to work.
   (add it UNDER the "custom.css" for it to work properly)
   Add it under the base.css file (control/command +f "base" to find it)
*/

/* Gallery Tabs */

@media (max-width: 500px) {
  .table-main.active,
  .plan-controls .right-tab-img {
    flex-direction: row !important;
  }
}

@media only screen and (max-width: 500px) {
  .main-tabs-gallery .table-main.active {
    overflow: scroll;
  }
  .page-width {
    padding: 0 1rem;
  }
  .table-main.active,
  .right-tab-img {
    flex-direction: row !important;
  }
  .plan-controls {
    justify-content: flex-start !important;
    flex-wrap: nowrap;
  }
  .right-tab-img,
  .left-tab-img {
    width: 100%;
    height: 100%;
    min-width: 100%;
  }
  .main-tabs-gallery .plan-controls {
    overflow: scroll;
    margin-left: -1rem;
    margin-right: -1rem;
    border: none;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .page-width {
    padding: 0 2rem;
  }
}

/* Flickity UGC Slider */

@media only screen and (max-width: 750px) {
  .flickity-slider .carousel__cell:nth-child(1) {
    display: none;
  }
}
 

/* Benefits Slider */

@media only screen and (max-width: 750px) {
  .page-width.title-btn-and-description-benefits-slider {
      justify-content: center;
  }
  h2.title-benefits-slider-h2, .video-section h2.title.inline-richtext.h0 {
    font-size: 28px!important;
  }
  .benefits___slider .carousel__cell {
    grid-template-columns: auto!important;
    display: grid;
    gap: 0!important;
    padding: 0;
  }
  .benefits-car-cell {
    width: 49%!important;
  }
  .benefits-car-cell img {
    width: 60px;
    height: 60px;
    max-width: 100%;
    margin: auto;
  }
  .benefits-car-cell h2 {
    margin: 0!important;
    text-align: center!important;
  }
  .benefits-car-cell p {
    font-size: 14px;
    text-align: center!important;
  }
}

@media only screen and (max-width: 500px) {
  .benefits_Slider {
      overflow: hidden;
  }
  .benefits_Slider .flickity-button {
    display: none;
  }
   .benefits_Slider .flickity-page-dots {
    display: block;
  }
  .flickity-page-dots .dot {
    background: #fff!important;
 }
}

/* Hot Spots */

@media only screen and (max-width: 750px) {
  .left-data-hostpot {
      display: none;
  }
}

@media only screen and (max-width: 500px) {
  .main-hotspots-sec .main-dot-and-content-only {
      margin-left: -50px;
  }
  .right-data-hostpot {
    flex-direction: row;
    text-align: center;
    display: flex;
    overflow-x: auto;
  }
  .right-data-hostpot .right-inner-data-hostpot {
    min-width: 100%;
    window: 100%;
    padding: 10px;
  }
}

/* Video.liquid */

@media only screen and (max-width: 750px) {
  h2.title-benefits-slider-h2, .video-section h2.title.inline-richtext.h0 {
      font-size: 28px!important;
  }
}

@media only screen and (max-width: 500px) {
  .video-section deferred-media img, .video-section iframe.js-youtube, .video-section video {
    border-radius: 0!important;
  }
}
