/* 
   Add {{ 'powerups-mobile.css' | asset_url | stylesheet_tag }} to theme.liquid for this to work.
   (add it UNDER the "custom.css" for it to work properly)
   Add it under the base.css file (control/command +f "base" to find it)
*/

/* Gallery Tabs */

@media (max-width: 500px) {
  .table-main.active,
  .plan-controls .right-tab-img {
    flex-direction: row !important;
  }
}

@media only screen and (max-width: 500px) {
  .main-tabs-gallery .table-main.active {
    overflow: scroll;
  }
  .page-width {
    padding: 0 1rem;
  }
  .table-main.active,
  .right-tab-img {
    flex-direction: row !important;
  }
  .plan-controls {
    justify-content: flex-start !important;
    flex-wrap: nowrap;
  }
  .right-tab-img,
  .left-tab-img {
    width: 100%;
    height: 100%;
    min-width: 100%;
  }
  .main-tabs-gallery .plan-controls {
    overflow: scroll;
    margin-left: -1rem;
    margin-right: -1rem;
    border: none;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .page-width {
    padding: 0 2rem;
  }
}

/* Flickity UGC Slider */

/* @media only screen and (max-width: 750px) {
  .flickity-slider .carousel__cell:nth-child(1) {
    display: none;
  }
} */
 

/* Benefits Slider */

@media only screen and (max-width: 750px) {
  .page-width.title-btn-and-description-benefits-slider {
      justify-content: center;
  }
  h2.title-benefits-slider-h2, .video-section h2.title.inline-richtext.h0 {
    font-size: 28px!important;
  }
  .benefits___slider .carousel__cell {
    grid-template-columns: auto!important;
    display: grid;
    gap: 0!important;
    padding: 0;
  }
  .benefits-car-cell {
    width: 49%!important;
  }
  .benefits-car-cell img {
    width: 60px;
    height: 60px;
    max-width: 100%;
    margin: auto;
  }
  .benefits-car-cell h2 {
    margin: 0!important;
    text-align: center!important;
  }
  .benefits-car-cell p {
    font-size: 14px;
    text-align: center!important;
  }
}

@media only screen and (max-width: 500px) {
  .benefits_Slider {
      overflow: hidden;
  }
  .benefits_Slider .flickity-button {
    display: none;
  }
   .benefits_Slider .flickity-page-dots {
    display: block;
  }
  .flickity-page-dots .dot {
    background: #fff!important;
 }
}

/* Hot Spots */

@media only screen and (max-width: 750px) {
  .left-data-hostpot {
      display: none;
  }
}

@media only screen and (max-width: 500px) {
  .main-hotspots-sec .main-dot-and-content-only {
      margin-left: -50px;
  }
  .right-data-hostpot {
    flex-direction: row;
    text-align: center;
    display: flex;
    overflow-x: auto;
  }
  .right-data-hostpot .right-inner-data-hostpot {
    min-width: 100%;
    window: 100%;
    padding: 10px;
  }
}

/* Video.liquid */

@media only screen and (max-width: 750px) {
  h2.title-benefits-slider-h2, .video-section h2.title.inline-richtext.h0 {
      font-size: 28px!important;
  }
}

@media only screen and (max-width: 500px) {
  .video-section deferred-media img, .video-section iframe.js-youtube, .video-section video {
    border-radius: 0!important;
  }
}

/* Review header */

@media only screen and (max-width: 750px) {
  .headingbigwidget {
    font-size: 28px!important;
  }
}

/* Video-banner */

@media only screen and (max-width: 750px) {
  .vid-banner .banner--medium:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 65rem!important;
  }
  .home-cstm-hero .banner__content {
    padding: 0!important;
  }
  .vid-banner .banner:not(.banner--mobile-bottom):not(.email-signup-banner) .banner__box {
    bottom: 20px!important;
    position: absolute!important;
  }
  .vid-banner .banner:not(.banner--mobile-bottom):not(.email-signup-banner) .banner__box {
    color: rgba(var(--color-foreground),.95);
  }
  .home-cstm-hero .banner__box {
    padding: 20px!important;
    text-align: center;
  }
  .home-cstm-hero h2.banner__heading.inline-richtext.h1 {
    color: rgba(var(--color-foreground),1);
    font-weight: 600;
  }
  .home-cstm-hero h2.banner__heading.inline-richtext.h1 {
    padding: 0;
  }
  .btn-benefit-wrapper {
    font-size: 16px;
  }
  .vid-banner .banner--content-align-mobile-center .banner__buttons--multiple {
    justify-content: center;
  }
  .vid-banner .banner--content-align-mobile-center .banner__buttons--multiple>* {
    flex-grow: 0;
    min-width: inherit;
  }
}

@media screen and (max-width: 500px) {
  .home-cstm-hero .banner__box {
    padding-top: 0!important;
  }
}

/* Image-top Banner */

@media only screen and (max-width: 1024px) {
  .hero-section-main .banner__media.media img {
    display: none;
  }
  .hero-section-main .banner__media img.mob-banner-img {
    display: block!important;
  }
  .brands-imgs {
    width: 65%;
    margin-top: 23px!important;
    gap: 14px 13px;
  }
}

@media only screen and (max-width: 991px) {
  .brands-imgs {
    width: 100%;
    padding: 0 2rem 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .hero-section-main .banner__media img.mob-banner-img {
    margin: auto;
    object-position: center;
  }
  .hero-section-main.banner--content-align-left .banner__box {
    text-align: center;
  }
  .hero-section-main .banner__text.rte.subtitle {
    font-size: 28px;
  }
  .hero-section-main h2.banner__heading.inline-richtext.h0 {
    font-size: 51px;
    padding-right: 0!important;
    text-align: center;
  }
  .brands-imgs img:nth-child(1) {
    display: none!important;
  }
  .brands-imgs img {
    width: 19%!important;
  }
  .hero-section-main .banner__buttons {
    display: block;
    margin: auto;
    display: grid;
    justify-content: center;
  }
}
